# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nutriplan"

# NextAuth - Autenticacion
NEXTAUTH_SECRET="genera-un-secret-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# WhatsApp Business API (opcional)
WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_BUSINESS_ID=""
WHATSAPP_VERIFY_TOKEN=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="NutriPlan Pro"
